%h1= large_icon('User') + ' ' + "My profile"
=link_to "Edit Personal Information", edit_admin_parent_path(@parent)
.parent
  %dl
    %dd= @parent.full_name
    %dd= address(@parent)
    %dd= format_phone(@parent.phone)
    %dd= @parent.email
    
/Other fields to display in a snazzy way cue the design team @parent dump btw
/ "last_name"
/ "title"
/ "company"
/ "address1"
/ "address2"
/ "city"
/ "state"
/ "zip"
/ "phone"
/ "email"
/ "created_at"           
/ "updated_at"           
/ "articles_count",      
/ "active",              
/ "images_count"         
/ "assets_count"         
/ "features_count"       
/ "avatar_file_name"     
/ "avatar_content_type"  
/ "avatar_file_size"     
/ "avatar_updated_at"    
/ "notes"                
/ "permalink"            
/ "confirmed",           
/ "web_address"          
/ "type"                 
/ "no_newsletters"

%h2= large_icon('User') + ' ' + "Children"
%dl
  -@parent.children.each do |c|
    %dt= link_to "#{c.first_name} #{c.last_name}", edit_admin_parent_child_path(@parent, c)
=link_to "Add a child", new_admin_parent_child_path(@parent)
    
