%h1 Activity Categories

%div.box
  %span.hmenu
    = icon 'Plus', new_admin_activity_category_path
    = link_to 'Add a new category', new_admin_activity_category_path

  %div
    %table#activity_categories.full_width
      %tr
        %th Name
        %th Description
        %th Blurb
        %th Delete
      - for cat in @activity_categories
        %tr[cat]{ :class => cycle('odd','even') }
          %td.activity_category_name= link_to(h(cat.name), edit_admin_activity_category_path(cat))
          %td.activity_category_description= h cat.description
          %td.activity_category_blurb= h cat.blurb
          %td.small= trash_icon(cat, admin_activity_category_path(cat), h(cat.name))