= error_messages_for :org

#options
  - form_for ([:admin, @org]) do |org_form|
    %fieldset#org_fields
      %dl
        %dt.form-label= org_form.label :org_type_id, 'Organization Type'
        %dd.form-option= org_form.select :org_type_id, !@org_types.nil? ? @org_types.map {|t| [ t.title, t.id ] } : [], { :include_blank => '&ndash; SELECT ONE &ndash;' } 

        %dt.form-label= org_form.label :name, 'Name of Organization'
        %dd.form-option= org_form.text_field :name

        %dt.form-label= org_form.label :description
        %dd.form-option= org_form.text_area :description

        %dt.form-label= org_form.label :blurb
        %dd.form-option= org_form.text_area :blurb  

        %dt.form-label= org_form.label :gender
        %dd.form-option= org_form.select(:gender, %w{boys girls coed})
    
        %dt.form-label= org_form.label :min_age, "Age Range"
        %dd.form-option
          = org_form.text_field :min_age
          %span through
          = org_form.text_field :max_age

        %dt.form-label= org_form.label :address
        %dd.form-option= org_form.text_field :address

        %dt.form-label= org_form.label :city
        %dd.form-option= org_form.text_field :city

        %dt.form-label= org_form.label :state
        %dd.form-option= org_form.select :state, $USA_STATES_ARRAY
    
        %dt.form-label= org_form.label :zip, "Zip Code"
        %dd.form-option= org_form.text_field :zip  

        %dt.form-label= org_form.label :contact, "Main Contact"
        %dd.form-option= org_form.text_field :contact
        
        %dt.form-label= org_form.label :contact_email, "Contact Email"
        %dd.form-option= org_form.text_field :contact_email  

        %dt.form-label= org_form.label :contact_phone, "Main Contact Phone"
        %dd.form-option= org_form.text_field :contact_phone    

    = org_form.submit(@org.new_record? ? 'Create Organization' : 'Save Changes')