%h1 Organizations

%div.box
  %span.hmenu
    = icon 'Plus', new_admin_org_owner_path
    = link_to 'Add a New Organization', new_admin_org_owner_path

    = icon "Dots Down", admin_org_types_path
    = link_to "View Organization Types", admin_org_types_path


  %div
    %table#organizations.full_width
      %tr
        %th Type
        %th Name
        %th Description
        %th Blurb
        %th Age Range
        %th Contact
        %th Delete
      - for org in @orgs
        %tr[org]{ :class => cycle('odd','even') }
          %td.org_org_type= h org.org_type.title
          %td.org_name= link_to(h(org.name), edit_admin_org_path(org))
          %td.org_description= h org.description
          %td.org_blurb= h org.blurb
          %td.org_age_range
            %span.min_age= org.min_age 
            %span thru 
            %span.max_age= org.max_age
          %td.org_contact_info
            %span.org_contact= h org.contact
            %span.org_contact_phone= org.contact_phone
          %td.small= trash_icon(org, admin_org_path(org), h(org.name))