%h1 Add a New Organization

- form_for ([:admin, @org]) do |f|
  = f.label :name, 'Name of Organization'
  = f.text_field :name
  
  = f.label :description
  = f.text_area :description
  
  = f.label :blurb
  = f.text_area :blurb  
  
  = f.label :gender
  = select('org', 'gender', %w{boys girls coed})