%h1 Add a New Organization
= error_messages_for :org

- form_for ([:admin, @org]) do |org_form|
  %fieldset#org_fields
    %legend Organization
    %dl
      %dt= org_form.label :name, 'Name of Organization'
      %dd= org_form.text_field :name
  
      %dt= org_form.label :description
      %dd= org_form.text_area :description
  
      %dt= org_form.label :blurb
      %dd= org_form.text_area :blurb  
  
      %dt= org_form.label :gender
      %dd= org_form.select(:gender, %w{boys girls coed})
      
      %dt= org_form.label :min_age, "Age Range"
      %dd
        = org_form.text_field :min_age
        %span through
        = org_form.text_field :max_age

      %dt= org_form.label :address
      %dd= org_form.text_field :address

      %dt= org_form.label :city
      %dd= org_form.text_field :city

      %dt= org_form.label :state
      %dd= org_form.select :state, $USA_STATES_ARRAY
      
      %dt= org_form.label :zip, "Zip Code"
      %dd= org_form.text_field :zip  

      %dt= org_form.label :contact, "Main Contact"
      %dd= org_form.text_field :contact  

      %dt= org_form.label :contact_phone, "Main Contact Phone"
      %dd= org_form.text_field :contact_phone  

      %dt= org_form.label :contact_email, "Main Contact Email"
      %dd= org_form.text_field :contact_email  

  %fieldset#org_owner_fields
    %legend Organization Owner
    %dl
      = '<!--'
      - org_form.fields_for :org_owner do |org_owner_form|
        %dt= org_owner_form.label :first_name
        %dd= org_owner_form.text_field :first_name

        %dt= org_owner_form.label :last_name
        %dd= org_owner_form.text_field :last_name

        %dt= org_owner_form.label :phone
        %dd= org_owner_form.text_field :phone

        %dt= org_owner_form.label :address1, 'Address'
        %dd= org_owner_form.text_field :address1

        %dt= org_owner_form.label :city
        %dd= org_owner_form.text_field :city

        %dt= org_owner_form.label :state
        %dd= org_owner_form.select :state, $USA_STATES_ARRAY

        %dt= org_owner_form.label :zip
        %dd= org_owner_form.text_field :zip
  
        %dt= org_owner_form.label :email
        %dd= org_owner_form.text_field :email
  
        %dt= org_owner_form.label :email_confirmation, 'Re-enter email'
        %dd= org_owner_form.text_field :email_confirmation
  
        - org_owner_form.fields_for :user do |user_form|
          %dt= user_form.label :password
          %dd= user_form.password_field :password
  
          %dt= user_form.label :password_confirmation, 'Re-enter password'
          %dd= user_form.password_field :password_confirmation
        = '-->'         
  = org_form.submit "Create Organization"        
