= error_messages_for :offering

#options
  - form_for [:admin, @org, @offering] do |f|
    %dl
      %dt.form-label= f.label :name
      %dd.form-option= f.text_field :name

      %dt.form-label= f.label :description
      %dd.form-option= f.text_area :description
      
      %fieldset#activity_categories
        -# f.fields_for :activity_categories do |cat|
        <input type="hidden" name="offering[activity_category_ids][]" value="" />
        
        - for cat in @activity_categories do
                  
          %dt.form-label= label_tag("offering_activity_category_ids_#{cat.id}", cat.name)
          %dd.form-option= check_box_tag('offering[activity_category_ids][]', cat.id, offering_has_category?(@offering, cat), { :id => "offering_activity_category_ids_#{cat.id}" })

    = f.submit(@offering.new_record? ? 'Create' : 'Save Changes')