%h1 Offerings

%div.box
  %span.hmenu
    - if !@org.nil?
      = icon 'Plus', new_admin_org_offering_path(@org)
      = link_to 'Add an offering', new_admin_org_offering_path(@org)
  
    - if @current_user.is_super_user?      
      = icon "Dots Down", admin_activity_categories_path
      = link_to "View Activity Categories", admin_activity_categories_path


  %div
    %table#offerings.full_width
      %tr
        %th Name
        %th Description
      - for act in @offerings
        %tr[act]{ :class => cycle('odd','even') }
          %td.offering_name= link_to(h(act.name), !@org.nil? ? admin_org_offering_path(@org, act) : admin_offering_path(act))
          %td.act_description= h act.description