= error_messages_for :child

#options
  - form_for [:admin, @parent, @child] do |f|
    %dl
      %dt.form-label= f.label :first_name
      %dd.form-option= f.text_field :first_name
      %dt.form-label= f.label :last_name
      %dd.form-option= text_field :child, :last_name, :value => ( @child.last_name.blank? ? @parent.last_name : @child.last_name.blank? )
      - f.fields_for :detail do |d|
        %dt.form-label= d.label :birthday
        %dd.form-option= d.date_select :birthday
        %dt.form-label= d.label :height
        %dd.form-option= d.text_field :height
        %dt.form-label= d.label :weight
        %dd.form-option= d.text_field :weight
        %dt.form-label= d.label :gender
        %dd.form-option
          = d.label :child_gender, "Male"
          = d.radio_button :gender, "Male"
          = d.label :child_gender, "Female"
          = d.radio_button :gender, "Female"
        %dt.form-label= d.label :school
        %dd.form-option= d.text_field :school
        %dt.form-label= d.label :allergies
        %dd.form-option= d.text_field :allergies
        %dt.form-label= d.label :family_doc, "Family doctor"
        %dd.form-option= d.text_field :family_doc
        %dt.form-label= d.label :doc_phone, "Doctor phone"
        %dd.form-option= d.text_field :doc_phone
        %dt.form-label= d.label :insurance_car, "Insurance carrier"
        %dd.form-option= d.text_field :insurance_car
        %dt.form-label= d.label :policy_num, "Policy number"
        %dd.form-option= d.text_field :policy_num
        %dt.form-label= d.label :policy_name, "Policy holder name"
        %dd.form-option= d.text_field :policy_name
    
      
    - fancy_submit admin_parent_children_path do
      = f.submit "Save Child"